body, html {
  margin: 0;
  height: 100%;
}

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #333;
  color: white;
  padding: 1.25rem;
  text-align: center;
}

main {
  padding: 1.25rem;
  flex: 1;
  display: flex;
  flex-direction: column;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

nav ul li {
  margin: 0 1rem;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  display: flex;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.625rem;
  max-width: 100%;
  margin-top: auto;
  justify-content: center;
  align-items: center;
}

.sidebar-handle {
  width: 20px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  background-color: rgb(58, 58, 58);
  transition: background-color 0.3s;
}

.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: -250px;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar:hover {
  left: 0;
}

.sidebar-handle:hover {
  background-color: rgba(0,0,0,0.1);
}

.sidebar-handle:hover + .sidebar {
  left: 0;
}

header, main {
  margin-left: 20px;
}

.App {
  background-image: url('./bg.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@media (max-width: 1024px) {
  nav ul li {
    margin: 8px 16px;
  }

  .sidebar {
    width: 200px;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 14px;
  }

  nav ul li {
    margin: 0.5rem;
  }

  .sidebar {
    width: 150px;
  }
}

@media (max-width: 480px) {
  nav ul {
    flex-direction: column;
  }

  nav ul li {
    margin: 0.5rem 0;
  }

  header, footer {
    padding: 0.5rem;
  }

  .sidebar {
    width: 100px;
  }
}